@layer theme, base, antd, components, utilities;
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", "sans-serif"; 
  --color-primary: #4f46e5;
  --breakpoint-lg: 1299.99px;
  --breakpoint-md: 991.99px;
  --breakpoint-sm: 767.99px;
  --breakpoint-xs: 479.99px;
}

@layer base {
  :root {
    --swiper-theme-color: #232323;
    --app-header-height: 65px;
    --product-bottom-container-height: 70px;
    --product-img-aspect-ratio-width: 1;
    --product-img-aspect-ratio-height: 1.35;
    --notification-container-right: 16px;
  }
  * {
    @apply font-roboto;
    @apply text-base;
    @apply font-normal;
  }
  html, body {
    overflow-x: clip;
  }
  body {
    position: relative;
  }
  button, a, img, svg {
    user-select: none;
  }
  
  a {
    color: white;
  }
}